extends layout/guest

block content
  div.w-100.m-auto.p-5(style="max-width: 400px")
    div.card
      div.card-body
        h5.card-title= title

    div.d-flex.flex-xl-column.gap-3.mt-3
      //- a(class='btn btn-secondary' href='/setup') Change Creds
      if !isAuthorized
        a(class='btn btn-primary' href= authorizationUrl) Authorize